body{

} 
#banner{
    width:100%;
}
.principal
{
  background:#cccccc;  
    }
    em strong{
        h1{ 
             text-align: ;center;
        }
        p{
            text-align: center
        };
        color:red 
    }
    